@model AspNetTeam_Prj.Models.Item
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item_id = Model.item_id;
}
<h2>Detail</h2>
<div>
    @Html.DisplayFor(model => model)
    @Html.ActionLink("Like", "Like", new
    {
        like_id = ViewBag.newLikeId,
        user_id = 0,
        item_id = item_id
        })
    @Html.ActionLink("Back to all items", "Index")
</div>
@section scripts {
    <script>
        var ShowAlreadyLikedModal = @Html.Raw(Json.Encode(ViewBag.ShowAlreadyLikedModal));
        if (ShowAlreadyLikedModal == true) alert('You already liked this item');
    </script>
}
