@{
    ViewBag.Title = "Home";
}

<section id="home-main-section-top" class="home-section">
    <div class="home-main-top">
        Top section
        <div>
            @Html.ActionLink("List of users", "Index", "Users")
        </div>
    </div>
</section>

<section class="home-main-section">
    <div class="home-main-content">
        Main section
    </div>
</section>

<section class="home-second-section">
    <div class="home-second-content">
        Second section
    </div>
</section>