@{
    ViewBag.Title = "Home";
}

<section id="home-main-section-top" class="home-section">
    <div class="home-main-top">
        <div class="home-main-desc">
            <h1 class="home-main-title">Sell & Buy<br>with your neighbor</h1>
            <p class="text-m">
                NeighTrade<br>Make your trade easier and cozier
            </p>
            <span>
                <a class="btn btn-info" href="/Popular/Index">Check out popular items on market</a>
            </span>
        </div>
        <div class="home-main-image-top"></div>
    </div>
</section>

<section class="home-main-section">
    <div class="home-main-image-middle"></div>
    <div class="home-main-desc">
        <h1 class="home-main-title">Talk & Meet<br>with relief</h1>
        <p class="text-m">
            Find your trasaction more secured and comfortable
        </p>
    </div>
</section>

<section class="home-second-section">
    <div class="home-bottom-desc">
        <h1 class="home-bottom-title">You may stay at home!</h1>
        <p class="text-m">
            We'll do the delivery for you
        </p>
    </div>
    <div class="home-main-image-bottom">

    </div>
</section>