@model IEnumerable<NeighTrade.Models.Like>

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h2>All My Likes</h2>


<table class="table">

    <tr>
        <th>Seller</th><th>Item Name</th><th>Price</th><th>Detail</th><th>Category</th><th>Like</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{ Html.RenderAction("LikeItems", "Likes", new { item_id = item.ItemId, ShowAlreadyLikedModal = false });}
            <td>@Html.ActionLink("Unlike", "Delete", new { id = item.LikeId })</td>
        </tr>

    }

</table>
