@using WebMatrix.Data;
@{
    var databaseName = Request["Database"]; //load from request
    var connectionString = string.Format("Data Source=(localdb)\\ProjectsV13;Initial Catalog=Database;Integrated Security=True", databaseName);
    var providerName = "System.Data.SqlClient";
    var db = Database.OpenConnectionString(connectionString, providerName);
    var data = db.Query("SELECT * FROM Category");
}
<ul>
    <a href="@Url.Action("index","Items")"><li>All</li></a>
    @foreach (var row in data)
    {
        <a href="@Url.Action("CategoryItems", "ItemDetail",new { category_id = row.category_id })"><li>@row.category_name</li></a>
        //<li>@Html.ActionLink((string)@row.category_name, "CategoryItems", "ItemDetail", new { category_id = row.category_id }, null)</li>
    }
</ul>